
@media (min-width: 1900px) {
    .container {
        max-width: 1648px !important;
    }
}
.header {
    position: fixed;
    width: 100%;
    z-index: 999;
    top: 0;
    display: block;
    background-color: #fff;
}
.full_page {
    width: 100%;
    z-index: 999;
    height: 100vh;
    top: 0;
    display: block;
}
.logo {
    height: 70px;
    width: 70px;
    border-radius: 5px;
    display: flex;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    background-clip: padding-box;
}

.main_content {
    position: relative;
    top: 95px;
}


.nav-item:not(:last-child) {
    margin-right: 20px;
}

.nav-item:last-child {
    margin-right: 40px;
}

.self {
    display: inline-block;
    padding: 5px 20px;
    border-radius: 50rem !important;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
}


.padding {
    padding-bottom: 100px;
    padding-top: 50px !important;
}

.content1 {
    font-size: 14px;
    color: rgba(7, 30, 84, .8);
}
.displayImg {
    display: none;
}
@media (min-width: 1900px) {
    .heading {
        font: #264a9f;
        font-size: 45px !important;
    }
}

.heading {
    color: #264a9f;
    font-size: 28px !important;
}

.contentClass1 {
    font-size: 14px;
    color: rgba(7, 30, 84, .8);
}

@media (min-width: 1900px) {
    .contentClass1 {
        font-size: 20px;
        letter-spacing: .22px;
        color: rgba(7, 30, 84, .8);
        font-weight: 500;
        line-height: 1.5;
        text-align: left;
    }
}

.details_info {
    color: #071e54;
    font-size: 16px;
    margin-top: 60px;
    margin-bottom: 14px;
}

.form-box {
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    border-radius: 20px;
    /* perspective: 1px; */
    border-collapse: collapse;
    background-image: linear-gradient(to bottom right, #eff0f3, #e5e6eb);
    border: none; 
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-attachment: #fff;
    background-clip: border-box;
}

.form_heading {
    height: 52px;
    font-size: 23px;
    font-weight: 500;
    /* line-height: 1.5; */
    letter-spacing: normal;
    background-color: transparent;
    color: #264a9f;
}

.form-input {
    margin-bottom: 1.5rem;
    background-color: transparent;
}

.inputLabel {
    color: #071e54;
    font-size: 13px;
    opacity: .5;
}

.select_field {
    align-items: center;
    background-color: transparent !important;
    border-color: hsl(0, 0%, 80%);
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: inset 3px 3px 6px #bfc3cf, -3px -3px 6px #ffffff;
    cursor: default;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: 38px;
    outline: 0;
    position: relative; 
    box-sizing: border-box;
    color: #071e54;
    opacity: 0.8;
    border: none !important;
    padding-left: 10px;
}

.inputText {
    padding: 13px 63px 14px 24px;
    border-radius: 50px;
    background: transparent;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700px;
    line-height: 1.5;
    color: #071e54;
    box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 6px #fff;
    height: 40px;
}

.globalButton {
    min-height: 35px;
    font-weight: 500;
    width: 100%;
    border-radius: 40px;
    border: none;
    padding: 20px;
    background: transparent linear-gradient(276deg, rgba(13, 53, 148, .89), #35d3e1) 0 0 no-repeat padding-box;
    color: rgba(7,30,84,.3);
    font-size: 13px;
    box-shadow: 3px 3px 3px #cecece, -3px -3px 3px #fff;
    color: #fff;
    outline: none !important;
}

.proceed-agreement {
    color: #071e54;
    opacity: .4;
    font-size: 11px;
    margin-left: 25px;
    margin-bottom: 12px;
}

.card_body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.details_box{
    height: 80px;
    width: 80px;
    box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 6px #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.join_text {
    color: #071e54;
    font-size: 13px;
    opacity: .5;
    text-align: center; 
    float: left; 
    font-size: 14px;
}

.whyJoin {
    padding-top: 70px;
    padding-bottom: 70px;
}

.customCard {
    background: linear-gradient(to bottom right, #eff0f3, #e5e6eb);
    border: none !important;
}

.heading {
    color: #264a9f;
    font-size: 40px !important;
}

.DottedPadding {
    border-right: 2px dotted #cecece;
}

.ShadowBox {
    height: 80px;
    width: 80px;
    box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 6px #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1200px) {
    .ShadowBox {
        height: 120px;
        width: 120px;
        box-shadow: inset 3px 3px 6px #bfc3cf, inset -3px -3px 6px #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.ShadowBox img {
    width: 30px;
    height: auto;
}

@media (min-width: 1200px) {
    .ShadowBox img {
        width: 50px;
        height: auto;
    }
}

.contentClass2 {
    font-size: 13px;
    color: rgba(7, 30, .84, .8);
}

.contentClass2 p {
    font-size: 17px;
    /* color: #264a9f; */
}

@media only screen and (max-width: 768px) {
    .mDisplayNone {
        display: none!important;
    }
}

.dDisplayNone {
    display: none;
}

@media only screen and (max-width: 768px) {
    .dDisplayNone {
        display: block;
    }
}

.WHAT_OFFERS {
    font-size: 16px;
    color: #264a9f;
}

.WHAT_OFFERS ul {
    padding-left: 0;
    margin-left: 0;
}

.WHAT_OFFERS li {
    margin-bottom: 28px;
    list-style-type: none;
    margin-left: 48px;
}

.WHAT_OFFERS li:before {
    content: "";
    background: url(https://www.tataaig.com/checkmark.svg), transparent linear-gradient(276deg, rgba(13, 53, 148, .898039), #35d3e1) 0 0 no-repeat padding-box;
    height: 36px;
    width: 36px;
    display: block;
    border-radius: 50%;
    float: left;
    margin-right: 20px;
    background-repeat: no-repeat;
    background-position: 50%;
    position: absolute;
    left: 19px;
}

.FOOTER_BEFORE_FOOTER {
    background-image: url(https://www.tataaig.com/footerBgImage1.svg);
    background-size: contain;
    background-position: right 2rem center;
    background-repeat: no-repeat;
    min-height: 50px;
    border-bottom: 2px dotted #9999;
}


.CustomCard {
    background: linear-gradient(to bottom right, #eff0f3, #e5e6eb);
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    border-radius: 10px;
    border: none !important;
}

@media (min-width: 1900px) {
    .CustomCard {
        background: linear-gradient(to bottom right, #eff0f3, #e5e6eb);
        box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
        border-radius: 20px;
        border: none !important;
    }
}

.FOOTER_PADDING {
    padding: 50px 65px 63px;
}

@media (min-width: 1600px) {
    .FOOTER_PADDING {
        padding: 65px 95px 45px;
    }
} 

.LOGO_FOOTER {
    height: 50px;
    width: auto;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
}

@media (min-width: 1600px) {
    .LOGO_FOOTER {
        height: 98px;
    }
}

.PLAY_IMAGE {
    height: auto;
    width: 55%;
    max-height: 60px;
    max-width: 190px;
}

.contentClass2 {
    font-size: 13px;
    color: rgba(7, 35, 84, .8);
}

@media (min-width: 1900px) {
    .contentClass2 {
        font-size: 18px;
        line-height: 1.5;
        text-align: left;
    }
}

.footerHover {
    color: rgba(7, 30, 84, .6);
    text-decoration: none;
}

/* CSS FOR SOCIAL MEDIA ICONS */
.socialMediaIcons a{
    color: #fff;
    background: rgba(7, 30, 84, .3);
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icons {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px #bfc3cf, -3px -3px 6px #fff;
    cursor: pointer;
    margin-right: 10px;
}

@media (min-width: 1900px) {
    .icons {
        width: 35px;
        height: 35px;
    }
}

@media (min-width: 1400px) {
    .icons {
        height: 40px;
        width: 40px;
    }
}

.socialMediaIcons a i {
    font-size: 14px;
}

.fa {
    display: inline-box;
}

.fa-facebook:before {
    content: "\f09a";
}
 
.icons:hover {
    background-color: #007bff;
}

.HEADING_FOOTER {
    margin-bottom: 20px;
    color: #264a9f;
    font-size: 16px;
}

@media (min-width: 1900px){
    .HEADING_FOOTER {
        margin-bottom: 30px;
        font-size: 28px;
        color: #264a9f;
        text-align: left;
        letter-spacing: normal;
        line-height: 1.5;
        font-weight: 500;
    }
}


.LINKS_FOOTER div{
    padding: 10px 0;
    text-decoration: none;
}

@media (min-width: 1600px) {
    .LINKS_FOOTER div{
        padding: 14px 0;
    }
}

.seperator {
    top: 0;
    left: 92%;
    border-right: 1px dotted #bcbcbc;
    bottom: 0;
    opacity: 1;
}
.positon-absolute {
    position: absolute !important;
}

.accordShadow {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: 3px 3px 6px #bcbcbc, -3px -3px 6px #fff;
    right: 35px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translateY(-50%);
}

@media (min-width: 1900px) {
    .accordShadow{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 3px 3px 6px #bcbcbc, -3px -3px 6px #fff;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(-50%);
    }
 }

 .subHeading {
     color: #264a9f;
     font-size: 16px;
 }

 @media (min-width: 1900px) {
     .subHeading {
         color: #264a9f;
         font-size: 28px;
         font-weight: 500;
         font-style: normal;
         line-height: 1.5;
         text-align: left;
         letter-spacing: normal;
     }
 }

 .borderDotted {
     border-bottom: 2px dotted #cecece;
 }
